services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: exampledb
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - db:/var/lib/mysql

  wordpress:
    image: wordpress:latest
    restart: always
    depends_on:
     - db
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: exampleuser
      WORDPRESS_DB_PASSWORD: examplepass
      WORDPRESS_DB_NAME: exampledb
    volumes:
      - wordpress:/var/www/html
      - ./plugins/${PLUGIN_SLUG}:/var/www/html/wp-content/plugins/${PLUGIN_SLUG}:ro #Run over environment variable
  
  wordpress-cli: #Needed for automatic interaction
    depends_on:
      - db
      - wordpress
    image: wordpress:cli
    user: '33' # For permissions
    command: >
      /bin/sh -c '
      sleep 10;
      wp core install --path="/var/www/html" --url="http://localhost:8080" --title="Dynamic Analysis ${PLUGIN_SLUG}" --admin_user=admin --admin_password=secret --admin_email=foo@bar.com;
      wp plugin activate ${PLUGIN_SLUG} --allow-root
      '
    volumes: #Same as wp instance
    - wordpress:/var/www/html
    - ./plugins/${PLUGIN_SLUG}:/var/www/html/wp-content/plugins/${PLUGIN_SLUG}:ro
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: exampleuser
      WORDPRESS_DB_PASSWORD: examplepass
      WORDPRESS_DB_NAME: exampledb


  #runner:
  #Container to trigger AJAX/REST dynamic Analysis

  #watcher:
  #Container to look out for file changes
volumes:
  wordpress:
  db:


  #Freshly seeded MariaDB/MySQL
  
